version: '3.9'

services:
  nest:
    container_name: rh-nest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    env_file:
      - .env.production
    depends_on:
      - mysql
      - minio

  mysql:
    image: mysql:8
    container_name: rh-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: rh
      MYSQL_USER: rh_user
      MYSQL_PASSWORD: rh_pass
    volumes:
      - mysql_data:/var/lib/mysql

  minio:
    image: minio/minio
    container_name: rh-minio
    command: server /data --console-address ":9001"
    ports:
      - '9000:9000'
      - '9001:9001'
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin123
    volumes:
      - minio_data:/data

volumes:
  mysql_data:
  minio_data:
